@use "./../variables";
@use "./../mixins";

.about-me 
{
  width: 100%;
  padding: 40px 5%;

  .about-line
  {
    width: 100%;
    position: absolute;
    left: 0;
    z-index: -1;
    margin-top: -15%;
    transform: scaleX(-1);
    @include mixins.responsive("tablet") 
    {    
      display: none;
    }
  }

  &__title 
  {
    font-size: variables.$title-font-size;
    font-weight: variables.$title-font-weight;
    color: variables.$title-color;
    text-align: left;
    margin-bottom: 50px;
    margin: 0 10%;
    @include mixins.responsive("tablet") 
    {    
      margin: 0 5%;
    }
    @include mixins.responsive("mobile") 
    {    
      font-size: 30px;
      text-align: center;
      margin-bottom: 20px;
    }
  }

  &__content 
  {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: left;
    margin: 0 10%;
    @include mixins.responsive("tablet") 
    {    
      margin: 0 5%;
    }
  }

  &__text 
  {
    font-size: 24px;
    line-height: 1.5;
    color: #000000;
    text-align: left;
    max-width: 100%;
    font-weight: 700;
    @include mixins.responsive("mobile") 
    {    
      text-align: center;
      font-size: 20px;
    }
  }

  &__profile 
  {
    width: 20vw;
    display: flex;
    align-items: center;
    gap: 20px;
    background: white;
    padding: 20px 20px;
    border-radius: 50px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    @include mixins.responsive("tablet") 
    {    
      width: 40vw;
      justify-content: center;
    }
    @include mixins.responsive("mobile") 
    {    
      width: 100%;
      justify-content: center;
    }
  }

  &__avatar 
  {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #FF6060;
  }

  &__info 
  {
    display: flex;
    flex-direction: column;
  }

  &__name 
  {
    font-size: 22px;
    font-weight: bold;
    color: #333;
    margin: 0;
  }

  &__role 
  {
    font-size: 18px;
    color: #666;
    margin: 5px 0 0 0;
  }
}
