@use "./../variables";
@use "./../mixins";

.experience 
{
  width: 100%;
  padding: 100px 5%;
  @include mixins.responsive("tablet") 
  {    
    padding: 5% 5%;
  }
  
  &__header 
  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10%;
    margin-bottom: 50px;
    @include mixins.responsive("tablet") 
    {    
      margin: 0 5%;
      margin-bottom: 30px;
    }
    @include mixins.responsive("mobile") 
    {    
      display: block;
      justify-content: center;
      text-align: center;
    }
  }

  &__title 
  {
    font-size: variables.$title-font-size;
    font-weight: variables.$title-font-weight;
    color: variables.$title-color;
    @include mixins.responsive("mobile") 
    {    
      font-size: 30px;
    }
  }

  &__btn 
  {
    background: #000000;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease; 
    @include mixins.responsive("mobile") 
    {    
      font-size: 14px;
      margin-top: 10px;
    }
  }

  &__grid 
  {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 0 10%;
    @include mixins.responsive("tablet") 
    {    
      margin: 0 5%;
    }
    @include mixins.responsive("mobile") 
    {    
      grid-template-columns: repeat(1, 1fr);
      gap: 10px
    }
  }

  &__card 
  {    
    margin-right: 40px;
    margin-bottom: 40px;
    border-left: #1a1a1ae3 5px solid;
    padding-left: 15px;
  }

  &__card-header 
  {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 15px;
    @include mixins.responsive("tablet") 
    {    
      display: block;
    }
  }

  &__company 
  {
    font-size: 28px;
    font-weight: 900;
    color: black;
    margin: 0;
  }

  &__period 
  {
    font-size: 18px;
    color: black;
    padding: 5px 15px;
    border-radius: 15px;
    @include mixins.responsive("tablet") 
    {    
      padding: 0;
    }
  }

  &__role 
  {
    font-size: 22px;
    font-weight: 600;
    color: black;
    margin: 0 0 15px 0;
  }

  &__description 
  {
    font-size: 18px;
    line-height: 1.8;
    color: black;
    margin: 0;
  }

}
