@use "variables";

*
{
  margin: 0;
  box-sizing: border-box;
  font-family: variables.$text-font;
}

html{
  scroll-behavior: smooth;
}

a 
{
  color: inherit;
  text-decoration: none;
}

li
{
  list-style: none;
}