@use "variables";

* {
  margin: 0;
  box-sizing: border-box;
  font-family: variables.$text-font;
}

main{
  margin: 0 10%;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}