// RESPONSIVE BREAKPOINTS
$breakpoint-mobile: 480px;

//FONT
$text-font: "Satoshi";

//COLOR
$primary-color: rgba(255, 96, 96, 1);

//Title
$title-font-size: 48px;
$title-font-weight: 800;
$title-color: #000000;