@import url('https://fonts.cdnfonts.com/css/satoshi');

// RESPONSIVE BREAKPOINTS
$breakpoint-tablet: 768px;
$breakpoint-mobile: 576px;

//FONT
$text-font: "Satoshi";

//Title
$title-font-size: 48px;
$title-font-weight: 800;
$title-color: #000000;